.idea
.rvmrc
.DS_Store
*~
doc
doc/*
public/static/*
pry.rb
*.sublime-project
*.sublime-workspace
.gem
.powenv
repl.rb
LtPrinter
.log
lt_client.log
*.swp
*.swo
.swn
todo
.virb/*
.env
.envrc
.tern-*
tags
*.rest
.sass-cache
bower_components/
node_modules/
.tmp/
config/secrets.yml
.yarnrc
yarn.lock
yarn*
cached_pages/
.env
spec/examples.txt
coverage/
.simplecov
.eslint
.eslint*
.vscode/*
.vscode
tmp/
coverage/
.nyc_output
*.code-workspace
*.mongo
dist/
.devcontainer/**
.devcontainer
.iex.exs
*.dump
CS_SESSION
.vimspector.json
.Spacevim.d/
\#*\#
.\#*
tusk.yml
*.http
_build
_build/*
.sqls/*
repl.sql
.dir-locals.el
api.org
docs/*
.trunk/*
.tool-versions
*.*book
Gemlocal
Gemlocal.lock
.nvimrc.lua
.zk/*
.mind/*
.vim-bookmarks
target/*
.yardoc/*
solargraph/*
.solargraph
.erb-lint.yml
*~
