.idea
.rvmrc
.DS_Store
*~
doc
doc/*
#public/assets/*
demo.rb
test.rb
pry.rb
*.sublime-project
*.sublime-workspace
.gem
.powenv
repl.rb
LtPrinter
.log
lt_client.log
*.swp
*.swo
.swn
todo
.virb/*
.env
.tern-*
