[core]
	excludesfile = /Users/vucinjo/.gitignore
	autocrlf = input
	editor = code --wait
[user]
	name = Aleksandar Vucic
	email = vucinjo@gmail.com
[alias]
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	l = !"git ld"
  s = status
  co = checkout
  br = branch
  gc='git commit'
  unstage = reset HEAD --
  ll = log --stat --abbrev-commit
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  aa = add --all
  bv = branch -vv
  ba = branch -ra
  bd = branch -d
  ca = commit --amend
  cb = checkout -b
  cm = commit -a --amend -C HEAD
  ci = commit -a -v
  co = checkout
  di = diff
  mm = merge --no-ff
  st = status --short --branch
  tg = tag -a
  pu = push --tags
  un = reset --hard HEAD
  uh = reset --hard HEAD^
  unrm = "!COMMIT=$(git log -1 --pretty=%h -- \"$1\"); git checkout $COMMIT^ -- \"$1\"; echo \"File: $1, was restored from commit $COMMIT\"; git show -s $COMMIT"

exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
[color]
	ui = true
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[fetch]
	prune = true
[merge]
	tool = fugitive
[mergetool]
	keepBackup = false
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[rebase]
	autosquash = true
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE