.idea
.rvmrc
.DS_Store
*~
doc
doc/*
public/static/*
demo.rb
test.rb
pry.rb
*.sublime-project
*.sublime-workspace
.gem
.powenv
repl.rb
LtPrinter
.log
lt_client.log
*.swp
*.swo
.swn
todo
.virb/*
.env
.tern-*
tags
*.rest
.sass-cache
bower_components/
node_modules/
.tmp/
config/secrets.yml
.yarnrc
yarn.lock
yarn*
cached_pages/
.env
spec/examples.txt
coverage/
.simplecov
.eslint
.eslint*
